doctype 5
html
  head
    title Page1
    style(type='text/css')
      #element1 {
        width:  200px;
        height: 100px;
        top:    50px;
        left:   5px;
        position: absolute;
        border: 1px solid;
      }
  body
    div(id = 'element1')