doctype 5
html
  head
    title "Page1"  
    style(type='text/css')
      #element1 {
        width:  20;
        height: 10;
        top:    5;
        left:   50;
        position: absolute;
        border: 1px solid;
      }

  body
    div(id = 'element1')